@import "tailwindcss";

@theme {
  --color-primary: var(--theme-primary);
  --color-on-primary: var(--theme-on-primary);
  --color-secondary: var(--theme-secondary);
  --color-on-secondary: var(--theme-on-secondary);
  --color-tertiary: var(--theme-tertiary);
  --color-on-tertiary: var(--theme-on-tertiary);
  --color-background: var(--theme-background);
  --color-on-background: var(--theme-on-background);
  --color-surface: var(--theme-surface);
  --color-on-surface: var(--theme-on-surface);
  --color-error: var(--theme-error);
  --color-on-error: var(--theme-on-error);
  --color-outline: var(--theme-outline);
}

/* --- Light Mode (Default) --- */
:root {
  --theme-primary: #8F4C38;
  --theme-on-primary: #FFFFFF;
  --theme-secondary: #77574E;
  --theme-on-secondary: #FFFFFF;
  --theme-tertiary: #6C5D2F;
  --theme-on-tertiary: #FFFFFF;
  --theme-background: #FFF8F6;
  --theme-on-background: #231917;
  --theme-surface: #FFF8F6;
  --theme-on-surface: #231917;
  --theme-error: #BA1A1A;
  --theme-on-error: #FFFFFF;
  --theme-outline: #85736E;
}

/* --- Dark Mode --- */
.dark {
  --theme-primary: #FFB5A0;
  --theme-on-primary: #561F0F;
  --theme-secondary: #E7BDB2;
  --theme-on-secondary: #442A22;
  --theme-tertiary: #D8C58D;
  --theme-on-tertiary: #3B2F05;
  --theme-background: #1A110F;
  --theme-on-background: #F1DFDA;
  --theme-surface: #1A110F;
  --theme-on-surface: #F1DFDA;
  --theme-error: #FFB4AB;
  --theme-on-error: #690005;
  --theme-outline: #A08C87;
}